@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.App {
    font-family: 'Quicksand';
    margin-top: 15vh;
}

.dashboard {
    margin-top: 5vh;
}

.create {
    margin-top: 5vh;
}

.btn-primary {
    background-color: #333;
    border: none;
    transition: 0.3s all;
}

.btn-primary:hover, .btn-primary:active {
    background-color: lightgrey !important;
    border: none;
}